<div class="container">
  <h2 class="text-center">Register office for company</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Company</label>
      <select class="form-control" name="companySelect" [ngModel]="selectedCompany" (ngModelChange)="onSelectedCompany($event)">
        <option disabled>Select company</option>
        <option [value]="i.id" *ngFor="let i of companies">{{i.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="officeName" name="name">
    </div>
    <button class="btn btn-success mt-2" type="submit">Save</button>

  </form>
</div>
